/* From https://www.florin-pop.com/blog/2019/03/css-pulse-effect/ */
/* Creates a pulsing ball */
.pulsar {
  background: rgba(64, 150, 239, 1);
  border-radius: 50%;
  height: 4rem;
  width: 4rem;

  box-shadow: 0 0 0 0 rgba(64, 150, 239, 1);
  transform: scale(1);
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(64, 150, 239, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 1rem rgba(64, 150, 239, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(64, 150, 239, 0);
  }
}


/** Misc styling **/
.toast {
  /* min-width: 400px;
  border-radius: 3rem;
  padding: 0.75rem; */

  /* Inherit Product Alliance font */
  font-family: Inter, sans-serif;
}

.toast a {
  text-decoration: underline;
}

.toast-icon {
  font-size: 1.6rem;
}

.toast-separator {
  line-height: 45%;
}

.clickable {
  cursor: pointer;
}

#toast-wrapper {
  z-index: 999;

  position: fixed;
  bottom: 0;
  left: 0;
  margin: 1rem;
}
